@model DLMallas.Models.VersionViewModels
@{
    ViewBag.Title = "Detalle Versión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #fff;
        background-color: #0099FF;
    }

    .multiselect-container {
        width: 100% !important;
    }
</style>
<link href="@Url.Content("~/Content/custom/malla.css")" rel="stylesheet">
<link href="@Url.Content("~/Scripts/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js")"></script>
<script src="~/Scripts/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<link href="@Url.Content("~/Scripts/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css")" rel="stylesheet">
<div class="main no-margin">
    @Html.Partial("~/Views/Shared/Partials/_SubMenu.cshtml", Model.ObtenerMalla[0].Id)

    <div id="page-wrapper" class="col-sm-12 col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="panel with-nav-tabs">
                    @Html.Partial("~/Views/Shared/Partials/_InformacionMalla.cshtml", Model)

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-left">
                            Fecha Inicio:
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-left">
                            @Html.DisplayFor(modelItem => Model.ObtenerVersion[0].FechaInicio)
                        </div>
                    </div>

                    <!--Tabs-->
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Secciones</a></li>
                            <li><a href="#tab2" data-toggle="tab">Unidades Curriculares</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <div class="panel panel-default panel-page-content">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                                                Secciones
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                                                <a class="btn btn-primary btn-sm pull-right " href="#" style="color: white" id="btnCrearSeccion">
                                                    <span class="fa fa-plus"></span> Crear Nueva Sección @Html.Display(Model.ObtenerVersion[0].Id)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-condensed table-bordered table-hover tabla-resultados">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort text-center col-lg-2 col-md-2 col-sm-2" colspan="2"></th>
                                                    <th class="col-lg-8 col-md-8 col-sm-8">Sección</th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">Color</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in @Model.ObtenerListadoSeccion)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <a href="#" onclick="editarSeccion('@item.Id','@item.Nombre','@item.Color')">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" onclick="eliminarSeccion('@item.Id')">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                            </a>
                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                                        <td><div class="col-md-4 col-md-offset-4" style="height:20px; background-color: @item.Color;">&nbsp;</div></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="panel panel-default panel-page-content">
                                    <div class="panel-heading">
                                        <div class="row ">
                                            <div class="col-lg-3 col-md-3 col-3 pull-left text-left margin-bottom10" style="float:none; margin:0 auto;">
                                                Unidades Curriculares
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-4 pull-right text-left">
                                                <a class="btn btn-primary btn-sm pull-right" href="#" style="color: white"
                                                   onclick="agregarComponente('@Model.ObtenerVersion[0].Id')">
                                                    <span class="fa fa-plus"></span> Crear Nueva Unidad Curricular
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 pull-right text-left">
                                                <a href="#" style="color: white"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Diagrama</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-condensed table-bordered table-hover tabla-resultados">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort text-center" colspan="3"></th>
                                                    <th>Unidad Curricular</th>
                                                    <th>Modalidad</th>
                                                    <th>Sección</th>
                                                    <th>Prerrequisitos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in @Model.ObtenerListadoComponente)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <a href="#" onclick="editarComponente('@item.Id', '@item.UnidadCurricular', '@Model.ObtenerVersion[0].Id')">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" onclick="eliminarComponente('@item.Id')">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" onclick="seleccionarPrerrequisito('@Model.ObtenerVersion[0].Id', '@Model.ObtenerVersion[0].IdSociedad','@item.Id')">
                                                                <span class="glyphicon glyphicon-list"></span>
                                                            </a>
                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.UnidadCurricular)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Modalidad)</td>
                                                        <td>
                                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                                @Html.DisplayFor(modelItem => item.Seccion)
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-1 pull-right" style="background-color: @item.Color; width: 10px; height: 10px;">

                                                            </div>
                                                        </td>
                                                        <td class="text-center">@Html.DisplayFor(modelItem => item.Prerrequisitos)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Crear Seccion -->
                @Html.Partial("_CrearSeccion")

                <!-- Modal Editar Seccion -->
                @Html.Partial("_EditarSeccion", Model)

                <!-- Modal agregar Componente -->
                @Html.Partial("_CrearComponente")

                <!-- Modal Editar Componente -->
                @Html.Partial("_EditarComponente")

                <!-- Modal Prerrequisito -->
                @Html.Partial("_EditarPrerrequisitos")

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#seccion-color-picker').colorpicker();
            $('#edit-seccion-color-picker').colorpicker();

            /*acciones de seccion*/
            $("#btnCrearSeccion").click(function() {
                $('#txtNombreSeccion').val('')
                $('#favcolor').val('')
                $('#txtColorSeccion').val('');
                $("#modCrearSeccion").modal('show');

            });

            $('#favcolor').change(function() {
                $('#txtColorSeccion').val($('#favcolor').val());
            });

            $("#btnGuardarNuevaSeccion").click(function() {
                var nombre = $('#txtNombreSeccion').val();
                var color = $('#txtColorSeccion').val();
                var idVersion = $('#txtIdVersion').val();
                var idMalla = $('#txtIdMalla').val();


                if (nombre == "" || color == "") {
                    alert("Debe Ingresar Nombre y Color");
                } else {

                    var actionData = "{'idversion': '" +
                        idVersion +
                        "','nombre': '" +
                        nombre +
                        "','color': '" +
                        color +
                        "'}";

                    $.ajax({
                        type: "POST",
                        url: "/Seccion/GuardarSeccion",
                        contentType: "application/json; charset=utf-8",
                        data: actionData,
                        complete: function(result) {
                            alert("Registro Guardado Correctamente");
                            window.location.href =
                                "/Version/DetalleVersion/?IdVersion=" + idVersion + "&idMalla=" + idMalla;
                        },
                        error: function(xhr, status, error) {
                            alert("Ha ocurrido un error al intentar guardar el registro.");
                        }
                    });
                }
            });

            $("#btnActualizarSeccion").click(function() {
                var id = $('#txtIdSeccionEdit').val();
                var nombre = $('#txtNombreSeccionEdit').val();
                var color = $('#txtColorSeccionEdit').val();
                var actionData = "{'id':'" + id + "','nombre': '" + nombre + "','color': '" + color + "'}";

                if (nombre == "" || color == "") {
                    alert("Debe Ingresar Nombre y Color");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/Seccion/ActualizarSeccion",
                        contentType: "application/json; charset=utf-8",
                        data: actionData,
                        complete: function(result) {
                            alert("Registro Actualizado Correctamente");
                            window.location.href = "/Version/DetalleVersion/?IdVersion=" +
                                @Model.ObtenerVersion[0].Id +
                                "&idMalla=" +
                                @Model.ObtenerVersion[0].IdMalla;
                        },
                        error: function(xhr, status, error) {
                            alert("Ha ocurrido un error al intentar guardar el registro.");
                        }
                    });
                }
            });

            /*acciones de componente/uc*/
            $("#btnGuardarNuevoComponente").click(function() {
                var idseccion = $('#comboSeccion').val();
                var idmodalidad = $('#comboModalidad').val();
                var iduc = $("#comboUC").val();

                //$('#comboUC option').each(function () {
                //iduc = this.value;
                var actionData = { idseccion: idseccion, idmodalidad: idmodalidad, iduc: iduc };

                $.ajax({
                    type: "POST",
                    url: "/Componente/GuardarComponente",
                    //contentType: "application/json; charset=utf-8",
                    data: actionData,
                    dataType: "json",
                    traditional: true,
                    complete: function(result) {
                        alert("Registro Guardado Correctamente");
                        window.location.href = "/Version/DetalleVersion?IdVersion=" +
                            @Model.ObtenerVersion[0].Id +
                            "&IdMalla=" +
                            @Model.ObtenerVersion[0].IdMalla;
                    }
                });
                //});
            });

            $("#btnActualizarComponente").click(function() {
                var id = $('#txtIdComponente').val();
                var idseccion = $('#comboSeccionEdit').val();
                var idmodalidad = $('#comboModalidadEdit').val();
                //var iduc = $("#comboUC").val();
                var actionData = "{'id': '" +
                    id +
                    "','idseccion': '" +
                    idseccion +
                    "','idmodalidad': '" +
                    idmodalidad +
                    "'}";

                $.ajax({
                    type: "POST",
                    url: "/Componente/ActualizarComponente",
                    contentType: "application/json; charset=utf-8",
                    data: actionData,
                    dataType: "json",
                    complete: function(result) {
                        alert("Registro Actualizado Correctamente");
                        window.location.href = "/Version/DetalleVersion?IdVersion=" +
                            @Model.ObtenerVersion[0].Id +
                            "&IdMalla=" +
                            @Model.ObtenerVersion[0].IdMalla;
                    }
                });

            });

            $("#btnGuardarPrerrequisito").click(function() {
                var idcomponente = $('#idComponente_Prerrequisito').val();
                //var idSociedad = $('#idSociedad_Prerrequisito').val();
                var ids = [];
                $("input[name='idUnidadesChx']:checked").each(function() {
                    ids.push(this.value);
                });

                var actionData = {IdComponente:  idcomponente, ListaUC: ids}

                $.ajax({
                    type: "POST",
                    url: "/Componente/GuardarPrerrequisito",
                    traditional: true,
                    data: actionData,
                    dataType: "json",
                    complete: function(result) {
                        alert("Prerrequisito Guardado Correctamente");
                        window.location.href =
                            "/Version/DetalleVersion/?IdVersion=" + @Model.ObtenerVersion[0].Id + "&idMalla=" + @Model.ObtenerVersion[0].IdMalla;
                    }
                });
            });

            $('#txtPrerrequsitesSearch').on('keyup',
                function() {
                    var table = $('#tablaPrerrequisitos').DataTable();
                    table.search(this.value).draw();
                });
        });

        /*acciones de seccion*/
        function editarSeccion(id, nombre, color) {
            $("#modEditarSeccion").modal('show');
            $('#txtIdSeccionEdit').val(id);
            $('#txtNombreSeccionEdit').val(nombre);
            $('#txtColorSeccionEdit').val(color);
            $('#edit-seccion-color-picker').colorpicker('setValue', color);
            $('#favcolorEdit').val(color);
        }

        function eliminarSeccion(id) {
            if (confirm("Está Seguro de Eliminar el Registro")) {
                $.ajax({
                    type: "POST",
                    url: "/Seccion/EliminarSeccion",
                    contentType: "application/json; charset=utf-8",
                    data: "{'id': '" + id + "'}",
                    complete: function(result) {
                        alert("Registro Eliminado Correctamente");
                        window.location.href = "/Version/DetalleVersion/?IdVersion=" +
                            @Model.ObtenerVersion[0].Id +
                            "&idMalla=" +
                            @Model.ObtenerVersion[0].IdMalla;
                    },
                    error: function(xhr, status, error) {
                        alert("Ha ocurrido un error al intentar eliminar el registro.");
                    }
                });
            }
        }

        /*acciones de componente/uc*/
        function agregarComponente(idversion) {
            cargaComboSeccion(idversion);
            cargaComboUC();
            cargaComboModalidad();
            $("#modAgregarComponente").modal('show');
        }

        function editarComponente(id, unidadCurricular, idversion) {
            var idseccion;
            var idmodalidadcomponente;
            var idunidadcurricular;

            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerComponente",
                contentType: "application/json; charset=utf-8",
                data: "{'id': '" + id + "'}",
                dataType: "json",
                complete: function(data) {
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        idseccion = data.responseJSON[i].IdSeccion;
                        idmodalidadcomponente = data.responseJSON[i].IdModalidadComponente;
                        idunidadcurricular = data.responseJSON[i].IdUnidadCurricular;

                        $("#txtIdComponente").val(id);
                        $("#txtUC").val(unidadCurricular);
                        cargaComboSeccion(idversion);
                        cargaComboModalidad();
                        $("#comboSeccionEdit").val(idseccion);
                        $("#comboModalidadEdit").val(idmodalidadcomponente);
                        $("#modEditarComponente").modal('show');
                    }
                },
                done: function() {
                    $("#comboSeccionEdit").val(idseccion);
                    $("#comboModalidadEdit").val(idmodalidadcomponente);
                }
            });
        }

        function eliminarComponente(id) {
            if (confirm("Está Seguro de Eliminar el Registro")) {
                $.ajax({
                    type: "POST",
                    url: "/Componente/EliminarComponente",
                    contentType: "application/json; charset=utf-8",
                    data: "{'id': '" + id + "'}",
                    dataType: "json",
                    complete: function(result) {
                        alert("Registro Eliminado Correctamente");
                        window.location.href =
                            "@Url.Action("DetalleVersion", "Version", new {IdVersion = @Model.ObtenerVersion[0].Id, IdMalla = @Model.ObtenerVersion[0].IdMalla})";
                    }
                });
            }
        }

        function cargaComboSeccion(idversion) {
            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerListadoSeccion",
                contentType: "application/json; charset=utf-8",
                data: "{'idversion': '" + idversion + "'}",
                dataType: "json",
                complete: function(data) {
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        var opt = new Option(data.responseJSON[i].Nombre, data.responseJSON[i].Id);
                        $('.comboSeccion').append(opt);
                    }
                }
            });
        }

        function cargaComboUC() {
            $.ajax({
                type: "POST",
                url: "/Componente/OtenerListadoCatalogoCurso",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function(data) {
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        var opt = new Option(data.responseJSON[i].Nombre, data.responseJSON[i].Id);
                        $('#comboUC').append(opt);
                    }

                    $('#comboUC').multiselect({
                        enableFiltering: true,
                        filterPlaceholder: 'Nombre del elemento...',
                        buttonWidth: '100%',
                        includeSelectAllOption: true
                    });

                    $(".multiselect-search").css("height", "40px");
                },
                done: function() {
                    $('#comboUC').multiselect({
                        enableFiltering: true,
                        filterPlaceholder: 'Search for something...',
                    });

                }
            });
        }

        function cargaComboModalidad() {
            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerListadoModalidadComponente",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function(data) {
                    for (var i = 0; i < data.responseJSON.length; i++) {
                        var opt = new Option(data.responseJSON[i].Nombre, data.responseJSON[i].Id);
                        $('.comboModalidad').append(opt);
                    }
                }
            });
        }

        function seleccionarPrerrequisito(idVersion, idSociedad, idUcActual) {
            var actionData = { idVersion: idVersion, idSociedad: idSociedad, idUcActual: idUcActual }
            $("#idComponente_Prerrequisito").val(idUcActual);
            //$("#idSociedad_Prerrequisito").val(idSociedad);
            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerComponentePrerrequisito",
                data: actionData,
                dataType: "html",
                traditional: true,
                complete: function(data) {
                    $("#prerrequisitoContenido").html(data.responseText);
                    $("#modPrerrequisito").modal('show');
                    $('#tablaPrerrequisitos').dataTable({
                        responsive: true,
                        "language": {
                            "url": "/Content/DataTables/plugins/spanish.js"
                        }
                    });
                },
                error: function(xhr, status, error) {
                    alert("Ha ocurrido un error al intentar devolver los registros.");
                }
            });
        }
    </script>
}
