@model DLMallas.Models.VersionViewModels
@{
    ViewBag.Title = "Detalle Versión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #fff;
        background-color: #0099FF;
    }
</style>
<link href="@Url.Content("~/Content/custom/malla.css")" rel="stylesheet">
<link href="@Url.Content("~/Scripts/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css")" rel="stylesheet">
<script src="@Url.Content("~/Scripts/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js")"></script>
@*<script src="@Url.Content("~/Scripts/core/detalle-version.js")"></script>*@
<div class="main no-margin">
    @Html.Partial("~/Views/Shared/Partials/_SubMenu.cshtml", Model.ObtenerMalla[0].Id)

    <div id="page-wrapper" class="col-sm-12 col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="panel with-nav-tabs">
                    @Html.Partial("~/Views/Shared/Partials/_InformacionMalla.cshtml", Model)

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-left">
                            Fecha Inicio:
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 text-left">
                            @Html.Display(Model.ObtenerVersion[0].FechaInicio)
                        </div>
                    </div>

                    <!--Tabs-->
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Secciones</a></li>
                            <li><a href="#tab2" data-toggle="tab">Unidades Curriculares</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <div class="panel panel-default panel-page-content">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                                                Secciones
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                                                <a class="btn btn-primary btn-sm pull-right " href="#" style="color: white" id="btnCrearSeccion">
                                                    <span class="fa fa-plus"></span> Crear Nueva Sección @Html.Display(Model.ObtenerVersion[0].Id)
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-condensed table-bordered table-hover tabla-resultados">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort text-center col-lg-2 col-md-2 col-sm-2" colspan="2"></th>
                                                    <th class="col-lg-8 col-md-8 col-sm-8">Sección</th>
                                                    <th class="col-lg-2 col-md-2 col-sm-2">Color</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in @Model.ObtenerListadoSeccion)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <a href="#" onclick="editarSeccion('@item.Id','@item.Nombre','@item.Color')">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" onclick="eliminarSeccion('@item.Id')">
                                                                <span class="glyphicon glyphicon-remove"></span>
                                                            </a>
                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                                        <td><div class="col-md-4 col-md-offset-4" style="height:20px; background-color: @item.Color;">&nbsp;</div></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="panel panel-default panel-page-content">
                                    <div class="panel-heading">
                                        <table style="width: 100%">
                                            <tr>
                                                <td class="text-left">Unidades Curriculares</td>
                                                <td class="text-right">
                                                    <a href="#" style="color: white"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Diagrama</a>
                                                    <a class="btn btn-primary btn-sm pull-right " href="#" style="color: white"
                                                       onclick="agregarComponente('@Model.ObtenerVersion[0].Id')">
                                                        <span class="fa fa-plus"></span> Crear Nueva Unidad Curricular
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-condensed table-bordered table-hover tabla-resultados">
                                            <thead>
                                                <tr>
                                                    <th class="no-sort text-center" colspan="3"></th>
                                                    <th>Unidad Curricular</th>
                                                    <th>Modalidad</th>
                                                    <th>Sección</th>
                                                    <th>Color</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in @Model.ObtenerListadoComponente)
                                                {
                                                <tr>
                                                    <td class="text-center">
                                                        <a href="#" onclick="editarComponente('@item.Id','@Model.ObtenerVersion[0].Id')">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="#" onclick="eliminarComponente('@item.Id')">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="#" onclick="seleccionarPrerrequisito('@item.Id')">
                                                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                                                        </a>
                                                    </td>
                                                    <td>@Html.DisplayFor(modelItem => item.UnidadCurricular)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Modalidad)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Seccion)</td>
                                                    <td class="text-center"><div style="background-color: @item.Color"></div></td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Crear Seccion -->
                @Html.Partial("_CrearSeccion")

                <!-- Modal Editar Seccion -->
                <div class="modal fade" id="modEditarSeccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Editar Sección</h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="txtIdSeccion" />
                                <input type="hidden" id="txtIdSeccionEdit" />
                                <input type="hidden" id="txtIdVersion" value="@Html.DisplayFor(model => model.ObtenerVersion[0].Id)" />
                                <input type="hidden" id="txtIdMalla" value="@Html.DisplayFor(model => model.ObtenerMalla[0].Id)" />
                                <table>
                                    <tr>
                                        <th>Nombre: </th>
                                        <td>
                                            <input type="text" id="txtNombreSeccionEdit" class="form-control" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Color: </th>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="color" name="favcolorEdit" id="favcolorEdit" />
                                                </span>
                                                <input type="text" id="txtColorSeccionEdit" class="form-control" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn_primary" id="btnActualizarSeccion">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal agregar Componente -->
                <div class="modal fade" id="modAgregarComponente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Agregar Unidad Curricular</h4>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <th>Sección: </th>
                                        <td><select id="comboSeccion" class="form-control"></select></td>
                                    </tr>
                                    <tr>
                                        <th>Unidades Curriculares: </th>
                                        <td><select id="comboUC" multiple="multiple"></select></td>
                                    </tr>
                                    <tr>
                                        <th>Modalidad: </th>
                                        <td><select id="comboModalidad"></select></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn_primary" id="btnGuardarNuevoComponente">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Editar Componente -->
                <div class="modal fade" id="modEditarComponente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Editar Unidad Curricular</h4>
                            </div>
                            <div class="modal-body">
                                <input id="txtIdComponente" type="hidden" />
                                <table>
                                    <tr>
                                        <th>Sección: </th>
                                        <td><select id="comboSeccion" class="form-control"></select></td>
                                    </tr>
                                    <tr>
                                        <th>Unidades Curriculares: </th>
                                        <td><select id="comboUC"></select></td>
                                    </tr>
                                    <tr>
                                        <th>Modalidad: </th>
                                        <td><select id="comboModalidad"></select></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn_primary" id="btnActualizarComponente">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Prerrequisito -->
                <div class="modal fade" id="modPrerrequisito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Unidades Curriculares Disponibles</h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="idcomponente" />
                                <table>
                                    <tr>
                                        <th></th>
                                        <td>Unidades Curriculares</td>
                                    </tr>
                                    <tr>
                                        <th><div id="checkboxes"></div></th>
                                        <td><div id="nombreUnidades"></div></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn_primary" id="btnGuardaPrerrequisito">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#seccion-color-picker').colorpicker();


            /*acciones de seccion*/
            $("#btnCrearSeccion").click(function () {
                $('#txtNombreSeccion').val('')
                $('#favcolor').val('')
                $('#txtColorSeccion').val('');
                $("#modCrearSeccion").modal('show');

            });

            $('#favcolor').change(function () {
                $('#txtColorSeccion').val($('#favcolor').val());
            });

            $("#btnGuardarNuevaSeccion").click(function () {
                var nombre = $('#txtNombreSeccion').val();
                var color = $('#txtColorSeccion').val();
                var idVersion = $('#txtIdVersion').val();
                var idMalla = $('#txtIdMalla').val();


                if (nombre == "" || color == "") {
                    alert("Debe Ingresar Nombre y Color");
                } else {

                    var actionData = "{'idversion': '" + idVersion + "','nombre': '" + nombre + "','color': '" + color + "'}";

                    $.ajax({
                        type: "POST",
                        url: "/Seccion/GuardarSeccion",
                        contentType: "application/json; charset=utf-8",
                        data: actionData,
                        complete: function (result) {
                            alert("Registro Guardado Correctamente");
                            window.location.href = "/Version/DetalleVersion/?IdVersion=" + idVersion + "&idMalla=" + idMalla;
                        },
                        error: function(xhr, status, error) {
                            alert("Ha ocurrido un error al intentar guardar el registro.");
                        }
                    });
                }
            });

            $("#btnActualizarSeccion").click(function () {
                var id = $('#txtIdSeccionEdit').val();
                var nombre = $('#txtNombreSeccionEdit').val();
                var color = $('#txtColorSeccionEdit').val();
                var actionData = "{'id':'" + id + "','nombre': '" + nombre + "','color': '" + color + "'}";

                //if (nombre == "" || color == "") {
                //    alert("Debe Ingresar Nombre y Color");
                // } else {
                $.ajax({
                    type: "POST",
                    url: "/Seccion/ActualizarSeccion",
                    contentType: "application/json; charset=utf-8",
                    data: actionData,
                    dataType: "json",
                    complete: function (result) {
                        alert("Registro Actualizado Correctamente");
                        window.location.href = "@Url.Action("DetalleVersion", "Version", new { IdVersion = @Model.ObtenerVersion[0].Id, IdMalla = @Model.ObtenerVersion[0].IdMalla })";
                    }
                });
                //}
            });

            /*acciones de componente/uc*/
            $("#btnGuardarNuevoComponente").click(function () {
                var idseccion = $('#comboSeccion').val();
                var idmodalidad = $('#comboModalidad').val();
                var iduc;

                $('#comboUC option').each(function () {
                    iduc = this.value;
                    var actionData = "{'idseccion': '" + idseccion + "', 'idmodalidad': '" + idmodalidad + "', 'iduc': '" + iduc + "'}";

                    $.ajax({
                        type: "POST",
                        url: "/Componente/GuardarComponente",
                        contentType: "application/json; charset=utf-8",
                        data: actionData,
                        dataType: "json",
                        complete: function (result) {
                            alert("Registro Guardado Correctamente");
                            window.location.href = "@Url.Action("DetalleVersion", "Version", new { IdVersion = @Model.ObtenerVersion[0].Id, IdMalla = @Model.ObtenerVersion[0].IdMalla })";
                        }
                    });
                });
            });

            $("#btnActualizarComponente").click(function () {
                var id = $('#txtIdComponente').val();
                var idseccion = $('#comboSeccion').val();
                var idmodalidad = $('#comboModalidad').val();
                var actionData = "{'id': '" + id + "','idseccion': '" + idseccion + "','idmodalidad': '" + idmodalidad + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Componente/ActualizarComponente",
                    contentType: "application/json; charset=utf-8",
                    data: actionData,
                    dataType: "json",
                    complete: function (result) {
                        alert("Registro Actualizado Correctamente");
                        window.location.href = "@Url.Action("DetalleVersion", "Version", new { IdVersion = @Model.ObtenerVersion[0].Id, IdMalla = @Model.ObtenerVersion[0].IdMalla })";
                    }
                });

            });

            $("#btnGuardarPrerrequisito").click(function () {
                var idcomponente = $('#idcomponente').val();
                $("input[name='idUnidadesChx[]']:checked").each(function () {

                    var actionData = "{'idcomponente': '" + idcomponente + "','idcomponenteprerrequisito': '" + this.value + "'}";
                    $.ajax({
                        type: "POST",
                        url: "/Componente/GuardarPrerrequisito",
                        contentType: "application/json; charset=utf-8",
                        data: actionData,
                        dataType: "json",
                        complete: function (result) {
                            alert("Prerrequisito Guardado Correctamente");
                            window.location.href = "@Url.Action("DetalleVersion", "Version", new { IdVersion = @Model.ObtenerVersion[0].Id, IdMalla = @Model.ObtenerVersion[0].IdMalla })";
                        }
                    });

                });
            });
        });

        /*acciones de seccion*/
        function editarSeccion(id, nombre, color) {
            $("#modEditarSeccion").modal('show');
            $('#txtIdSeccionEdit').val(id);
            $('#txtNombreSeccionEdit').val(nombre);
            $('#txtColorSeccionEdit').val(color);
            $('#favcolorEdit').val(color);
        }

        /*function editarSeccion(id, nombre, color) {
            $("#modEditarVerSeccion").modal('show');
            $('#txtIdSeccion').val(id);
            $('#txtNombreSeccion').val(nombre);
            $('#favcolor').val(color);
            $('#txtColorSeccion').val(color);
        }*/

        function eliminarSeccion(id) {
            if (confirm("Está Seguro de Eliminar el Registro")) {
                $.ajax({
                    type: "POST",
                    url: "/Seccion/EliminarSeccion",
                    contentType: "application/json; charset=utf-8",
                    data: "{'id': '" + id + "'}",
                    complete: function (result) {
                        alert("Registro Eliminado Correctamente");
                        window.location.href = "/Version/DetalleVersion/?IdVersion=" + @Model.ObtenerVersion[0].Id + "&idMalla=" + @Model.ObtenerVersion[0].IdMalla;
                    },
                    error: function(xhr, status, error) {
                        alert("Ha ocurrido un error al intentar eliminar el registro.");
                    }
                });
            }
        }

        /*acciones de componente/uc*/
        function agregarComponente(idversion) {
            $("#modCrearComponente").modal('show');
            cargaComboSeccion(idversion);
            cargaComboUC();
            cargaComboModalidad();
        }

        function editarComponente(id, idversion) {
            var idseccion;
            var idmodalidadcomponente;
            var idunidadcurricular;

            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerComponente",
                contentType: "application/json; charset=utf-8",
                data: "{'id': '" + id + "'}",
                dataType: "json",
                complete: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        idseccion = data[i].IdSeccion;
                        idmodalidadcomponente = data[i].IdModalidadComponente;
                        idunidadcurricular = data[i].IdUnidadCurricular;

                        $("#txtIdComponente").val(id);
                        cargaComboSeccion(idversion);
                        cargaComboUC();
                        cargaComboModalidad();
                    }
                },
                done: function () {
                    $("#comboSeccion").val(idseccion);
                    $("#comboUC").val(idunidadcurricular);
                    $("#comboUC").attr("disabled", true);
                    $("#comboModalidad").val(idmodalidadcomponente);
                }
            });
        }

        function eliminarComponente(id) {
            if (confirm("Está Seguro de Eliminar el Registro")) {
                $.ajax({
                    type: "POST",
                    url: "/Componente/EliminarComponente",
                    contentType: "application/json; charset=utf-8",
                    data: "{'id': '" + id + "'}",
                    dataType: "json",
                    complete: function (result) {
                        alert("Registro Eliminado Correctamente");
                        window.location.href = "@Url.Action("DetalleVersion", "Version", new { IdVersion = @Model.ObtenerVersion[0].Id, IdMalla = @Model.ObtenerVersion[0].IdMalla })";
                    }
                });
            }
        }

        function cargaComboSeccion(idversion) {
            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerListadoSeccion",
                contentType: "application/json; charset=utf-8",
                data: "{'idversion': '" + idversion + "'}",
                dataType: "json",
                complete: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Nombre, data[i].Id);
                        $('#comboSeccion').append(opt);
                    }
                }
            });
        }

        function cargaComboUC() {
            $.ajax({
                type: "POST",
                url: "/Componente/OtenerListadoCatalogoCurso",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Nombre, data[i].Id);
                        $('#comboUC').append(opt);

                    }
                },
                done: function () {
                    $('#comboUC').multiselect();
                    $("#comboUC").multiselect().multiselectfilter({
                        label: "",
                        placeholder: "Buscar"
                    });
                }
            });
        }

        function cargaComboModalidad() {
            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerListadoModalidadComponente",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                complete: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].Nombre, data[i].Id);
                        $('#comboModalidad').append(opt);
                    }
                }
            });
        }

        function seleccionarPrerrequisito(id) {
            $("#modCrearComponente").modal('show');
            $("#idcomponente").val(id);

            $.ajax({
                type: "POST",
                url: "/Componente/ObtenerComponentePrerrequisito",
                contentType: "application/json; charset=utf-8",
                data: "{'id': '" + id + "'}",
                dataType: "json",
                complete: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#checkboxes').append('<input type="checkbox" name="idUnidadesChx[]" value="' + data[i].Id + '" />');
                        $('#nombreUnidades').append('<label>' + data[i].UnidadCurricular + '</label>');
                    }
                }
            });
        }
    </script>
}
