@model DLMallas.Models.VersionViewModels
@{
    ViewBag.Title = "Versiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/custom/malla.css")" rel="stylesheet">
<script src="~/Scripts/core/version.js"></script>
<div class="main no-margin">
    @Html.Partial("~/Views/Shared/Partials/SubMenu.cshtml", Model.ObtenerMalla[0].Id)
    <input type="hidden" id="id_malla_hidden" value="@Model.ObtenerMalla[0].Id"/>
    <input type="hidden" id="malla_hidden" value="@Model.ObtenerMalla[0].Nombre"/>
    <div id="page-wrapper" class="col-sm-12 col-md-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Información de la Malla
                    </div>
                    <div class="panel-body">
                        <div class="row margin-bottom10">
                            <div class="col-lg-2 col-md-2 col-sm-2">Nombre:</div>
                            <div class="col-lg-4 col-md-4 col-sm-4">@Html.DisplayFor(model => model.ObtenerMalla[0].Nombre)</div>
                            <div class="col-lg-2 col-md-2 col-sm-2">Fecha Creación:</div>
                            <div class="col-lg-4 col-md-4 col-sm-4">@Html.DisplayFor(model => model.ObtenerMalla[0].FechaCreacion)</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">Usuario Creación:</div>
                            <div class="col-lg-4 col-md-4 col-sm-4">@Html.DisplayFor(model => model.ObtenerMalla[0].UsuarioCreacion)</div>
                            <div class="col-lg-2 col-md-2 col-sm-2">Estado:</div>
                            <div class="col-lg-4 col-md-4 col-sm-4">@(Model.ObtenerMalla[0].Activo == "1" ? "Activa" : "Inactiva")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default panel-page-content">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 pull-left text-left">
                                Versiones
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 pull-right text-right">
                                <a class="btn btn-primary btn-sm pull-right " href="#" id="btnCrearVersion">
                                    <span class="fa fa-plus"></span> Crear Nueva Versión
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="tblListado" class="table table-condensed table-bordered table-hover tabla-resultados">
                            <thead>
                                <tr>
                                    <th class="no-sort"></th>
                                    <th>Versión</th>
                                    <th>Vigencia</th>
                                    <th>UC</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.ObtenerListadoVersion)
                                {
                                    <tr>
                                        <td>
                                            <div class="row text-center">
                                                <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                                                    <a href="#" onclick="version.editarVersion('@item.Id', '@item.FechaInicio')" title="Editar Versión">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                                                    <a href="#" onclick="version.eliminarVersion('@item.Id')" title="Eliminar Versión">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                                                    <a href="#" onclick="version.detalleVersion('@item.Id', '@item.IdMalla')" title="Ver Detalle Versión">
                                                        <span class="glyphicon glyphicon-list"></span>
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                                                    <a href="#" title="Ver Diagrama Estructural">
                                                        <span class="icon icon-diagram viewstruct"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FechaInicio) - @Html.DisplayFor(modelItem => item.FechaTermino)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalComponente)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Version)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

@Html.Partial("_CrearVersion")

        <!-- Modal editar version -->
        <div class="modal fade" id="modEditarVersion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Editar Versión</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <th>Fecha de Inicio de Vigencia de Versión:&nbsp;&nbsp;</th>
                                <td>
                                    <input type="hidden" id="txtIdVersion" />
                                    <div class="input-group date">
                                        <input type="text" id="txtFechainicioActualiza" class="form-control" placeholder="Ingrese Fecha" />
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn_primary" id="btnActualizarVersion">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
