@model DLMallas.Models.MallaViewModels
@{
    ViewBag.Title = "Editar Malla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/custom/malla.css")" rel="stylesheet">
<script src="~/Scripts/core/malla.js"></script>
<div class="main no-margin">
    
    @Html.Partial("~/Views/Shared/Partials/SubMenu.cshtml", Model.ObtenerMalla[0].Id);

    <input type="hidden" id="txtId" value="@Model.ObtenerMalla[0].Id" />
    <div id="page-wrapper" class="col-sm-12 col-md-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default panel-page-content">
                    <div class="panel-heading">Datos Generales</div>
                    <div class="panel-body">
                        <div class="tabla-resultados-no-registros-buscar">
                            <div class="row margin-bottom10">
                                <div class="col-lg-3 col-md-3 col-sm-3">Usuario Creación:</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    @Html.DisplayFor(model => model.ObtenerMalla[0].UsuarioCreacion)
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">Fecha:</div>
                                <div class="col-lg-3 col-md-3 col-sm-3">@Html.DisplayFor(model => model.ObtenerMalla[0].FechaCreacion)</div>
                            </div>
                            <div class="row margin-bottom10">
                                <div class="col-lg-3 col-md-3 col-sm-3">Nombre:</div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input id="txtNombre" class="form-control input-sm" type="text" placeholder="Ingrese Nombre" value="@Model.ObtenerMalla[0].Nombre">
                                </div>
                            </div>
                            <div class="row margin-bottom10">
                                <div class="col-lg-3 col-md-3 col-sm-3">Escuela:</div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <select id="slEscuela" class="form-control input-sm" name="slEscuela">
                                        @foreach (var item in ViewBag.Escuelas)
                                        {
                                            if (item.Id.ToString() == Model.ObtenerMalla[0].IdEscuela)
                                            {
                                                <option value="@item.Id" selected="selected">@item.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.Nombre</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row margin-bottom10">
                                <div class="col-lg-3 col-md-3 col-sm-3">Descripción:</div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <textarea id="txtDescripcion" class="form-control" cols="75" placeholder="Ingrese descripción">@Model.ObtenerMalla[0].Descripcion</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">Activa:</div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="checkbox" name="chkActiva" id="chkActiva" @(Model.ObtenerMalla[0].Activo == "1" ? "checked = \"checked\" " : "") />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="@Url.Action("Index", "Malla")" class="btn btn-default">Volver a Lista</a>
                        <button class="btn btn_primary" id="btnActualizaMalla">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

