@model DLMallas.Models.ItinerariosViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/plugins/Sesion/jquery.session.js"></script>
<script src="~/Scripts/jquery.json.js"></script>
@*<script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.fixedHeader.min.js"></script>*@

@*<script src="~/Scripts/jquery.json.js"></script>*@
<script src="~/Scripts/core/adminItinerario.js"></script>
<div class="main">
    <!--contenido central-->
    <div class="row container-buscador no-margin-left no-margin-right">
        <div class="col-sm-2 no-padding-right pull-right">
            <a class="btn btn-primary btn-sm pull-right " href="#" id="btnCrearItinerario"><span class="fa fa-plus"></span> Crear Itinerario</a>
        </div>
    </div>

    <!--/.tabla-resultados-->
    <div class="panel panel-default panel-resultados-busqueda">
        <div class="panel-heading">Itinerarios</div>
        <div class="panel-body">
            <!--datatable-->
            <div id="divListado">
                <div>

                    <table id="tblItinerarios" class="table table-condensed table-bordered table-hover tabla-resultados">
                        <thead>
                            <tr>
                                <th class="no-sort"></th>
                                <th>Nombre</th>
                                <th>Malla</th>
                                <th>Vigencia</th>
                                <th>Inscrip</th>
                                <th>Estado</th>
                                <th>Avan.Uc</th>
                                <th>Avan.Colab</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.Itinerarios)
                            {
                                <tr role="row">
                                    <td>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <a href="@Url.Action("EditarItinerario", "AdministracionItinerario", new { id = @item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                                            <a href="#" onclick=""><span class="glyphicon glyphicon-stats"></span></a>
                                        </div>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Malla)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Vigencia)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Inscriptos)</td>
                                    <td>@(item.Estado == "1" ? "Activa" : "No Activa")</td>
                                    <td>@Html.DisplayFor(modelItem => item.AvanUC)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AvanColab)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_CrearItinerario");